<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CovidHealthDeclarationForm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/notify-metro.css" rel="stylesheet" />
    <link href="~/css/datatable.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/js/datatable.js"></script>
</head>
<body>
    @RenderBody()

    @if (@ViewBag.AlertType != null && @ViewBag.AlertMessage != null)
    {
        <script>
        $(document).ready(function () {
            $.notify("@Html.Raw(ViewBag.AlertMessage.ToString())", {
                className: "@Html.Raw(ViewBag.AlertType.ToString())",
                autoHide: true,
                autoHideDelay: 5000,
                position: "top right"
            });
        });
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
